.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItems {
    display: flex;
    gap: 2rem;
    
}

.menuItems svg {
    color: var(--gray-900);
    height: 3.7rem;
    width: 3.7rem;
    background-color: var(--primary);
    border-radius: 0.4rem;
    background-size: 1rem;
}