.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 4.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}

.logoLink:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(70%);
}
