.button {
  border: none;
  min-width: 24rem;
  border-radius: 0.4rem;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
}

.button svg {
  width: 3.2rem;
  height: 3.2rem;
}

.button:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(70%);
  cursor: pointer;
}

.green {
  background: var(--primary);
  color: var(--text-over-primary);
}

.red {
  background: var(--error);
  color: var(--text-over-error);
}
